In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('./archive/ipl_match_ball_by_ball_data.csv')

/tmp/ipykernel_14610/2746688689.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./archive/ipl_match_ball_by_ball_data.csv')

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_info = pd.read_csv('./archive/ipl_match_info_data.csv')

In [5]:
df_info.head()

,match_id,season,date,city,venue,team1,team2,toss_winner,toss_decision,player_of_match,...,event,match_number,umpire1,umpire2,reserve_umpire,tv_umpire,match_referee,eliminator,method,date_1
0,335982,2007/08,2008-04-18,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,BB McCullum,...,Indian Premier League,1.0,Asad Rauf,RE Koertzen,VN Kulkarni,AM Saheba,J Srinath,NaN,NaN,NaN
1,335983,2007/08,2008-04-19,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,MEK Hussey,...,Indian Premier League,2.0,MR Benson,SL Shastri,MSS Ranawat,RB Tiffin,S Venkataraghavan,NaN,NaN,NaN
2,335984,2007/08,2008-04-19,Delhi,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,MF Maharoof,...,Indian Premier League,3.0,Aleem Dar,GA Pratapkumar,NaN,IL Howell,GR Viswanath,NaN,NaN,NaN
3,335985,2007/08,2008-04-20,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,MV Boucher,...,Indian Premier League,5.0,SJ Davis,DJ Harper,SN Bandekar,AV Jayaprakash,J Srinath,NaN,NaN,NaN
4,335986,2007/08,2008-04-20,Kolkata,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,DJ Hussey,...,Indian Premier League,4.0,BF Bowden,K Hariharan,F Gomes,Asad Rauf,FM Engineer,NaN,NaN,NaN

### Checking for missing values

In [6]:
print("-------- Match Dataset --------\n")
df.isna().sum()

-------- Match Dataset --------

match_id                       0
season                         0
start_date                     0
venue                          0
innings                        0
ball                           0
batting_team                   0
bowling_team                   0
striker                        0
non_striker                    0
bowler                         0
runs_off_bat                   0
extras                         0
wides                     218928
noballs                   225036
byes                      225371
legbyes                   222423
penalty                   225952
wicket_type               214803
player_dismissed          214803
other_wicket_type         225954
other_player_dismissed    225954
dtype: int64

In [7]:
print("-------- Match Info --------\n")
df_info.isna().sum()

-------- Match Info --------

match_id             0
season               0
date                 0
city                51
venue                0
team1                0
team2                0
toss_winner          0
toss_decision        0
player_of_match      4
winner              18
winner_wickets       0
winner_runs          0
outcome            932
result_type          0
results              0
gender               0
event                0
match_number        58
umpire1              0
umpire2              0
reserve_umpire      24
tv_umpire            3
match_referee        0
eliminator         936
method             931
date_1             948
dtype: int64

### Datatypes

In [8]:
print("-------- Match Dataset --------\n")
df.info()

-------- Match Dataset --------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                225954 non-null  int64
 1   season                  225954 non-null  object
 2   start_date              225954 non-null  object
 3   venue                   225954 non-null  object
 4   innings                 225954 non-null  int64
 5   ball                    225954 non-null  float64
 6   batting_team            225954 non-null  object
 7   bowling_team            225954 non-null  object
 8   striker                 225954 non-null  object
 9   non_striker             225954 non-null  object
 10  bowler                  225954 non-null  object
 11  runs_off_bat            225954 non-null  int64
 12  extras                  225954 non-null  int64
 13  wides                   7026 non-null    float64
 14  noballs                 918 non-null     float64
 15  byes                    583 non-null     float64
 16  legbyes                 3531 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             11151 non-null   object
 19  player_dismissed        11151 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
dtypes: float64(8), int64(4), object(10)
memory usage: 37.9+ MB

In [9]:
print("-------- Match Info --------\n")
df_info.info()

-------- Match Info --------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         950 non-null    int64
 1   season           950 non-null    object
 2   date             950 non-null    object
 3   city             899 non-null    object
 4   venue            950 non-null    object
 5   team1            950 non-null    object
 6   team2            950 non-null    object
 7   toss_winner      950 non-null    object
 8   toss_decision    950 non-null    object
 9   player_of_match  946 non-null    object
 10  winner           932 non-null    object
 11  winner_wickets   950 non-null    int64
 12  winner_runs      950 non-null    int64
 13  outcome          18 non-null     object
 14  result_type      950 non-null    object
 15  results          950 non-null    int64
 16  gender           950 non-null    object
 17  event            950 non-null    object
 18  match_number     892 non-null    float64
 19  umpire1          950 non-null    object
 20  umpire2          950 non-null    object
 21  reserve_umpire   926 non-null    object
 22  tv_umpire        947 non-null    object
 23  match_referee    950 non-null    object
 24  eliminator       14 non-null     object
 25  method           19 non-null     object
 26  date_1           2 non-null      object
dtypes: float64(1), int64(4), object(22)
memory usage: 200.5+ KB

### Unique Values

In [10]:
print("-------- Match Dataset --------\n")
df.nunique()

-------- Match Dataset --------

match_id                  950
season                     19
start_date                706
venue                      49
innings                     6
ball                      180
batting_team               18
bowling_team               18
striker                   605
non_striker               595
bowler                    473
runs_off_bat                7
extras                      7
wides                       5
noballs                     4
byes                        4
legbyes                     5
penalty                     1
wicket_type                10
player_dismissed          573
other_wicket_type           0
other_player_dismissed      0
dtype: int64

### Columns classification

In [11]:
print("-------- Match Dataset --------\n")

numeric_columns = [column for column in df.columns if df[column].dtype != 'O']
categorical_columns = [column for column in df.columns if df[column].dtype == 'O']

print('{} numerical columns(features) : {}'.format(len(numeric_columns), numeric_columns))
print('\n{} categorical columns(features) : {}'.format(len(categorical_columns), categorical_columns))

-------- Match Dataset --------

12 numerical columns(features) : ['match_id', 'innings', 'ball', 'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes', 'penalty', 'other_wicket_type', 'other_player_dismissed']

10 categorical columns(features) : ['season', 'start_date', 'venue', 'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler', 'wicket_type', 'player_dismissed']

### Teams

In [12]:
print("-------- Match Dataset --------")
print("Batting Team Name: {}".format(df['batting_team'].nunique()))
print(df['batting_team'].unique())
print("\nBowling Team Name: {}".format(df['bowling_team'].nunique()))
print(df['bowling_team'].unique())

-------- Match Dataset --------
Batting Team Name: 18
['Kolkata Knight Riders' 'Royal Challengers Bangalore'
 'Chennai Super Kings' 'Kings XI Punjab' 'Rajasthan Royals'
 'Delhi Daredevils' 'Deccan Chargers' 'Mumbai Indians'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Sunrisers Hyderabad'
 'Rising Pune Supergiants' 'Gujarat Lions' 'Rising Pune Supergiant'
 'Delhi Capitals' 'Punjab Kings' 'Lucknow Super Giants' 'Gujarat Titans']

Bowling Team Name: 18
['Royal Challengers Bangalore' 'Kolkata Knight Riders' 'Kings XI Punjab'
 'Chennai Super Kings' 'Delhi Daredevils' 'Rajasthan Royals'
 'Deccan Chargers' 'Mumbai Indians' 'Kochi Tuskers Kerala' 'Pune Warriors'
 'Sunrisers Hyderabad' 'Rising Pune Supergiants' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Delhi Capitals' 'Punjab Kings' 'Gujarat Titans'
 'Lucknow Super Giants']

### Replacing new names with old names

In [13]:
replace_dict = {'Delhi Daredevils': 'Delhi Capitals','Deccan Chargers':'Sunrisers Hyderabad','Pune Warriors':'Rising Pune Supergiants','Rising Pune Supergiant':'Rising Pune Supergiants','Gujarat Lions':'Gujarat Titans','Kings XI Punjab':'Punjab Kings'}
## Match Dataset
df['batting_team'].replace(replace_dict,inplace=True)
df['bowling_team'].replace(replace_dict,inplace=True)
## Match info
df_info['team1'].replace(replace_dict,inplace=True)
df_info['team2'].replace(replace_dict,inplace=True)
df_info['toss_winner'].replace(replace_dict,inplace=True)
df_info['winner'].replace(replace_dict,inplace=True)

/tmp/ipykernel_14610/496512057.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['batting_team'].replace(replace_dict,inplace=True)
/tmp/ipykernel_14610/496512057.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bowling_team'].replace(replace_dict,inplace=True)
/tmp/ipykernel_14610/496512057.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_info['team1'].replace(replace_dict,inplace=True)
/tmp/ipykernel_14610/496512057.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_info['team2'].replace(replace_dict,inplace=True)
/tmp/ipykernel_14610/496512057.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_info['toss_winner'].replace(replace_dict,inplace=True)
/tmp/ipykernel_14610/496512057.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_info['winner'].replace(replace_dict,inplace=True)

### Team names conversion into it's short name

In [14]:
short_name = {'Kolkata Knight Riders': 'KKR',
              'Royal Challengers Bangalore':'RCB',
              'Chennai Super Kings':'CSK',
              'Punjab Kings':'PBKS',
              'Rajasthan Royals':'RR',
              'Delhi Capitals':'DC',
              'Sunrisers Hyderabad':'SRH',
              'Mumbai Indians':'MI',
              'Kochi Tuskers Kerala':'KTK',
              'Rising Pune Supergiants':'RPSG',
              'Gujarat Titans':'GT',
              'Lucknow Super Giants':'LSG'}

df['batting_team_short_name'] = df['batting_team'].map(short_name)
df['bowling_team_short_name'] = df['bowling_team'].map(short_name)

### Renaming columns

In [15]:
## Match Dataset
df = df.rename(columns={'venue': 'stadium'})
df = df.rename(columns={'ball': 'over'})

## Match info
df_info = df_info.rename(columns={'venue': 'stadium'})

In [16]:
print("stadium: {}".format(df['stadium'].nunique()))
print(df['stadium'].unique())

stadium: 49
['M Chinnaswamy Stadium' 'Punjab Cricket Association Stadium, Mohali'
 'Feroz Shah Kotla' 'Eden Gardens' 'Wankhede Stadium'
 'Sawai Mansingh Stadium' 'Rajiv Gandhi International Stadium, Uppal'
 'MA Chidambaram Stadium, Chepauk' 'Dr DY Patil Sports Academy' 'Newlands'
 "St George's Park" 'Kingsmead' 'SuperSport Park' 'Buffalo Park'
 'New Wanderers Stadium' 'De Beers Diamond Oval' 'OUTsurance Oval'
 'Brabourne Stadium' 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Brabourne Stadium, Mumbai'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Holkar Cricket Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium' 'Maharashtra Cricket Association Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Saurashtra Cricket Association Stadium' 'Green Park'
 'M.Chinnaswamy Stadium' 'MA Chidambaram Stadium' 'Arun Jaitley Stadium'
 'Rajiv Gandhi International Stadium'
 'Punjab Cricket Association IS Bindra Stadium'
 'MA Chidambaram Stadium, Chepauk, Chennai' 'Wankhede Stadium, Mumbai'
 'Narendra Modi Stadium, Ahmedabad' 'Arun Jaitley Stadium, Delhi'
 'Zayed Cricket Stadium, Abu Dhabi' 'Dr DY Patil Sports Academy, Mumbai'
 'Maharashtra Cricket Association Stadium, Pune' 'Eden Gardens, Kolkata']

### Adding venue column

In [17]:
venue_stadium = {'M Chinnaswamy Stadium':'Bengaluru',
         'Punjab Cricket Association Stadium, Mohali':'Mohali',
         'Feroz Shah Kotla':'Delhi',
         'Eden Gardens': 'Kolkata',
         'Wankhede Stadium' : 'Mumbai',
         'Sawai Mansingh Stadium': 'Jaipur',
         'Rajiv Gandhi International Stadium, Uppal':'Hyderabad',
         'MA Chidambaram Stadium, Chepauk': 'Chennai',
         'Dr DY Patil Sports Academy' : 'Mumbai',
         'Newlands': 'Cape Town, South Africa',
         "St George's Park" : 'Gqeberha, South Africa',
        'Kingsmead' : 'Durban, KwaZulu-Natal, South Africa',
        'SuperSport Park' : 'Centurion, South Africa',
         'Buffalo Park': 'East London, Eastern Cape, South Africa',
          'New Wanderers Stadium':'Johannesburg, South Africa',
         'De Beers Diamond Oval' : 'Kimberley, South Africa',
         'OUTsurance Oval': 'Bloemfontein, South Africa',
         'Brabourne Stadium':'Mumbai',
         'Brabourne Stadium, Mumbai':'Mumbai',
         'Sardar Patel Stadium, Motera':'Ahmedabad',
         'Barabati Stadium':'Cuttack',
         'Vidarbha Cricket Association Stadium, Jamtha':'Jamtha',
         'Himachal Pradesh Cricket Association Stadium' :'Dharamshala',
         'Nehru Stadium':'Delhi',
         'Holkar Cricket Stadium': 'Indore',
         'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium' :'Visakhapatnam',
         'Subrata Roy Sahara Stadium' : 'Pune',
         'Maharashtra Cricket Association Stadium': 'Pune',
         'Maharashtra Cricket Association Stadium' : 'Pune',
         'Shaheed Veer Narayan Singh International Stadium': 'Raipur',
         'JSCA International Stadium Complex': 'Ranchi',
         'Sheikh Zayed Stadium' :'Abu Dhabi, UAE',
         'Sharjah Cricket Stadium' :'Sharjah, UAE',
         'Dubai International Cricket Stadium' : 'Dubai, UAE',
         'Punjab Cricket Association IS Bindra Stadium, Mohali' : 'Mohali',
         'Saurashtra Cricket Association Stadium': 'Rajkot',
         'Green Park' :'Kanpur',
         'M.Chinnaswamy Stadium' : 'Bengaluru',
         'MA Chidambaram Stadium': 'Chennai',
         'Arun Jaitley Stadium' : 'Delhi',
         'Rajiv Gandhi International Stadium':'Hyderabad',
         'Punjab Cricket Association IS Bindra Stadium': 'Mohali',
         'MA Chidambaram Stadium, Chepauk, Chennai': 'Chennai',
         'Wankhede Stadium, Mumbai': 'Mumbai',
         'Narendra Modi Stadium, Ahmedabad':'Ahmedabad',
         'Arun Jaitley Stadium, Delhi':'Delhi', 
         'Zayed Cricket Stadium, Abu Dhabi' : 'Abu Dhabi, UAE',
         'Dr DY Patil Sports Academy, Mumbai' : 'Mumbai',
         'Maharashtra Cricket Association Stadium, Pune' : 'Pune',
         'Eden Gardens, Kolkata': 'Kolkata'
        }
## Match Datset
df['venue'] = df['stadium'].map(venue_stadium)

## Match info
df_info['venue'] = df_info['stadium'].map(venue_stadium)

### Date formatting

In [18]:
## Match Dataset
df['start_date'] = df['start_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

## Match info
df_info['date'] = df_info['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

### Calculating total runs

In [19]:
df['total_run'] = df['runs_off_bat'] +df['extras']

In [20]:
df['final_total_runs'] = 0

total_runs = df.groupby(['match_id', 'innings'])['total_run'].sum().reset_index()

for i, row in total_runs.iterrows():
    df.loc[(df['match_id'] == row['match_id']) & (df['innings'] == row['innings']), 'final_total_runs'] = row['total_run']

### Wickets

In [21]:
df['is_wicket'] = df['wicket_type'].apply(lambda x: 1 if pd.notnull(x) and x != '' else 0)

### Total runs and wickets till now

In [22]:
grouped = df.groupby(["match_id", "innings"])

df["wickets"] = grouped["is_wicket"].cumsum()
df["runs"] = grouped["total_run"].cumsum()

In [23]:
df[['match_id','stadium','venue']].sample(15)

,match_id,stadium,venue
22444,392220,De Beers Diamond Oval,"Kimberley, South Africa"
68174,548348,Barabati Stadium,Cuttack
214460,1304073,"Wankhede Stadium, Mumbai",Mumbai
95093,729283,Sheikh Zayed Stadium,"Abu Dhabi, UAE"
115151,829765,"MA Chidambaram Stadium, Chepauk",Chennai
210107,1304055,"Dr DY Patil Sports Academy, Mumbai",Mumbai
57339,501266,M Chinnaswamy Stadium,Bengaluru
192987,1237178,Sheikh Zayed Stadium,"Abu Dhabi, UAE"
137391,1082595,M.Chinnaswamy Stadium,Bengaluru
111608,829709,Maharashtra Cricket Association Stadium,Pune
51272,501239,"Rajiv Gandhi International Stadium, Uppal",Hyderabad
168942,1136605,Arun Jaitley Stadium,Delhi
67307,548345,Feroz Shah Kotla,Delhi
66030,548339,"Punjab Cricket Association Stadium, Mohali",Mohali
181859,1216547,Dubai International Cricket Stadium,"Dubai, UAE"

In [24]:
print("-------- Match Dataset --------\n")
print('No of columns: ', len(df.columns))
df.columns

-------- Match Dataset --------

No of columns:  30

Index(['match_id', 'season', 'start_date', 'stadium', 'innings', 'over',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'batting_team_short_name',
       'bowling_team_short_name', 'venue', 'total_run', 'final_total_runs',
       'is_wicket', 'wickets', 'runs'],
      dtype='object')

In [25]:
print("-------- Match Info --------\n")
print('No of columns: ', len(df_info.columns))
df_info.columns

-------- Match Info --------

No of columns:  28

Index(['match_id', 'season', 'date', 'city', 'stadium', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'player_of_match', 'winner',
       'winner_wickets', 'winner_runs', 'outcome', 'result_type', 'results',
       'gender', 'event', 'match_number', 'umpire1', 'umpire2',
       'reserve_umpire', 'tv_umpire', 'match_referee', 'eliminator', 'method',
       'date_1', 'venue'],
      dtype='object')

### Save the data

In [26]:
df.to_csv('./archive/match_data.csv', index=False)
df_info.to_csv('./archive/match_info.csv', index=False)